@font-face {
  font-family: "Almarena Display";
  src: url("./fonts/Almarena-Display-Bold.otf");
}
@font-face {
  font-family: "Almarena Display Regular";
  src: url("./fonts/Almarena-Display-Regular.otf");
}
@font-face {
  font-family: "Almarena";
  src: url("./fonts/Almarena-Regular.otf");
}

html,
body {
  width: 100%;
  font-family: "Almarena Display";
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url(/img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: block;
  height: 100%;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.company-name {
  width: 20%;
  margin-left: 40px;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}

.navbar-links {
  width: 80%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

a.community {
  margin-right: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a.book-call {
  color: #000000;
  width: 120px;
  padding: 7px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  height: 70%;
  margin-left: 10%;
  width: 65%;
  justify-content: center;
}

.title {
  width: 100%;
  font-size: 5vw;
  line-height: 120%;
}

.byline {
  margin-top: 30px;
  font-size: 1.75vw;
}

.description {
  margin-top: 10px;
  font-family: "Almarena";
  line-height: 140%;
  width: 70%;
}

.cta {
  margin-top: 40px;
  margin-left: 5px;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 350px;
  height: 40px;
}

input {
  background: none;
  border: none;
  height: 100%;
}

input[type="text"] {
  width: 190px;
  margin: 0px;
  margin-top: 0px;
  outline: 0;
  display: inline;
  padding: 0 0 0 21px;
}

input[type="submit"] {
  text-align: center;
  font-family: "Almarena Display";
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 130px;
  height: 32px;
  display: inline;
  vertical-align: middle;
}

#success {
  display: none;
  font-size: 20px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  html,
  body {
    overflow-y: scroll;
    width: auto !important;
    overflow-x: hidden !important;
  }

  body {
    position: relative;
  }

  .main {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
  }

  .company-name {
    font-size: 18px;
  }

  a.community {
    display: none;
  }

  a.book-call {
    width: 100px;
  }

  .content {
    width: 80%;
  }

  .title {
    font-size: 8vw;
  }

  .byline {
    font-size: 4.5vw;
  }

  .description {
    width: 90%;
  }

  .cta {
    width: 250px;
  }

  input[type="submit"] {
    margin-top: 10px;
    height: 40px;
    width: 250px;
  }
}
