@font-face {
  font-family: "Almarena Display";
  src: url("./fonts/Almarena-Display-Bold.otf");
}
@font-face {
  font-family: "Almarena Display Regular";
  src: url("./fonts/Almarena-Display-Regular.otf");
}
@font-face {
  font-family: "Almarena";
  src: url("./fonts/Almarena-Regular.otf");
}

html,
body {
  width: 100%;
  font-family: "Almarena Display";
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url(/img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: block;
  height: 100%;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.company-name {
  width: 20%;
  margin-left: 40px;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}

.navbar-links {
  width: 80%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

a.community {
  margin-right: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a.book-call {
  color: #000000;
  width: 120px;
  padding: 7px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  html,
  body {
    overflow-y: scroll;
    width: auto !important;
    overflow-x: hidden !important;
  }

  body {
    position: relative;
  }

  .main {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
  }
}
